
body {

}
header{
	background: green;
	color: white;
    text-align: center;
    padding: 2;
}
section{
	background: purple;
	color: white;
	text-align: center;
	padding: 2;

}
footer{
	background: crimson;
	color: white;
	padding: 1;
	text-align: center;
	
}